@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #167DB7;
    --color-accent: #FF6340;
    --color-gray: #999999;
    --color-success: #00A550;
    --color-error: #E93E40;
    --color-alert: #F1C40F;

    --color-white: #FFFFFF;
    --color-black: #2D3133;


    --color-alert-d3: #857323;

    --color-primary-l4: #E8F2F8;
    --color-alert-l4: #FEF9E7;
    --color-success-l4: #E6F6EE;
    --color-gray-l4: #F5F5F5;
    --color-error-l4: #FDECEC;
}

